body {
    margin: 0; 
    overflow-x: hidden; 
  }
  
  html {
    overflow-x: hidden;
  }
  
  .booking-form {
    background-color: black;
    color: white;
 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 20px; 
    width: 100%; 
    box-sizing: border-box; 
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .date-picker {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .date-label {
    font-weight: 500;
    color: white;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .date-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .date-icon {
    position: absolute;
    left: 10px;
    color: #726555;
    font-size: 1.2em;
    pointer-events: none;
  }
  
  .date-input {
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
   
    font-size: 1em;
    transition: border-color 0.3s;
    width: 100%;
    background-color: white;
    color: black;
  }
  
  .date-input:focus {
    outline: none;
    border-color: #726555;
  }
  
  .guests-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .guest-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .guest-label {
    font-weight: 500;
    color: white;
    text-align: left;
  }
  
  .guest-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: border-color 0.3s;
    width: 100%;
  }
  
  .guest-select:focus {
    outline: none;
    border-color: #726555;
  }
  
  .checck-availabilityy {
    background-color: #726555;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
    width: 100%;
  }
  
 
  
  .rooms-list {
    margin-top: 20px;
  }
  
  .room-item {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    color: black;
  }
  
  .room-item h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
  }
  
  .room-item p {
    margin: 5px 0;
    color: #555;
  }
  
  .room-item img {
    border-radius: 5px;
    margin-top: 10px;
  }