.back-home-link, .home-button {
    display: inline-flex;
    align-items: center;
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #726555;
    color: white;
    text-decoration: none; 
    border-radius: 5px;
}

.back-home-link:hover, .home-button:hover {
    background-color: #302d2b;
}

.back-arrow-icon {
    margin-right: 8px; 
}
