.navbar {
    background-color: black;
    padding: 1em;
    text-align: center;
    height: 60px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    color: #a09f9d;
    text-decoration: none;
    
  }
  
  .navbar a:hover {
    color: #ccc;
  }
  
  .btn {
    background-color: #726555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: black;
    color: #fff;
  }