
.signup-container {
  max-width: 300px;
  margin: 50px auto;
  text-align: center;
  margin-top: 80px;
}


.register {
  color: #333;
  margin-bottom: 20px;
}


.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.input-field:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.password-strength {
  margin: 5px 0;
  font-size: 14px;
}

.password-strength.strong {
  color: green;
}

.password-strength.weak {
  color: red;
}


.enterr-button {
  width: 100%;
  padding: 10px;
  background-color: #666;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

.enterr-button:hover {
  background-color: #333;
}


.error-message {
  color: red;
  font-size: 14px;
  margin: 10px 0;
}


.forgot-password-container {
  margin-top: 10px;
}

.forgot-password-link {
  color: #333;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}