.back-home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #726555; 
    color: white;
    text-decoration: none; 
    border-radius: 5px;
}

.back-home-button:hover {
    background-color: #252423; 
}
